

img
{
    margin-top: 15px;
    margin-bottom: 20px;
}

nav
{
    background-image: url('images/background.svg');
    height: 80px;
}

.fila-h1-principal
{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.1;
    margin-top: 20px;
}


@import url('fonts/AG-Stencil.ttf');
.fila-h1-error, .fila-h1-404 {
    font-family: 'AG Stencil';
}

hr
{
    width: 10%;
    border-width: 2px;
    border-color: #16a085;
}